pip install numpy==1.19.2
pip install pandas==0.25.3
pip install Django==2.1.7
pip install urllib3==1.22
pip install requests==2.31.0
pip install PyMySQL==0.9.3
pip install beautifulsoup4==4.12.2
pip install matplotlib==3.1.1